@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Inter', sans-serif !important;
}




/* GOOGLE TRASNLATE */
/* Ocultar completamente la barra de Google */
.goog-te-banner-frame {
    display: none !important;
}

body {
    top: 0 !important;
}

/* Ocultar íconos flotantes y opciones adicionales de Google */
.goog-logo-link,
.goog-te-gadget span,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-vH1Gmf,
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}

/* Limpiar fondo del widget */
#google_translate_element {
    background: none !important;
}

/* Widget discreto y elegante */
.translate-widget {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    background: white;
    border-radius: 8px;
    padding: 4px 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Combo box más limpio */
.goog-te-combo {
    border: 1px solid #ccc; /* Borde visible pero sutil */
    background: #fff; /* Fondo blanco */
    font-size: 14px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 8px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
}

/* Quitar bordes y foco visual al seleccionar */
.goog-te-combo:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}